*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    background-color: rgb(184, 96, 114);
    color: white;
    padding: 20p;

}
img{
    position: relative;
    width: 38%;
    left: 28%;
}
h3{
 left: 45%;
 top: 50%;
}

footer{
    padding: 30px;
    background-color: rgb(184, 96, 114);
}
 




